# =========================
# .NET / Visual Studio
# =========================
.vs/
bin/
obj/
*.user
*.suo
*.cache
*.log

# =========================
# Node / Angular
# =========================
node_modules/
dist/
.angular/
.vite/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db
